.item-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 1em;
    color: var(--light-black);

    &__url--skeleton,
    &__title--skeleton,
    &__description--skeleton {
      height: 1.5em;
      margin-bottom: 0em;
      animation: loading 1.5s infinite;
      background-color: var(--secundary-grey);
      background: linear-gradient(90deg, #e0e0e0 25%, #f5f5f5 50%, #e0e0e0 75%);
      background-size: 200% 100%;
    }

    &__url,
    &__url--skeleton {
      font-size: 0.8em;
      max-width: 15em;
    }
  
    &__title {
      color: var(--blue-title);
      cursor: pointer;
      
    }
    &__title:hover {
      text-decoration: underline;
    }
    &__title,
    &__title--skeleton {
      max-width: 30em;
    }
  
    &__description,
    &__description--skeleton {
      max-width: 55em;

    }
  
    @keyframes loading {
      0% {
        background-position: -200%;
      }
      100% {
        background-position: 200%;
      }
    }
  }
  